html {

  --color1: rgb(0, 0, 0);

  --color2: rgb(118, 76, 95);

  --color3: rgb(182, 93, 105);
  
  --color4: rgb(234, 206, 194);
}

#pixel-board {
  display: table;
}

.grade {
  display: table-row;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  background-color: white;
  display: inline-flex;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.color1 {
  background-color: var(--color1);
}

.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.color4 {
  background-color: var(--color4);
}
