.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.color1 {
  background-color: #000;
}

.color2 {
  background-color: #774C60;
}

.color3 {
  background-color: #B75D69;
}

.color4 {
  background-color: #EACDC2;
}

#pixel-board{
display: table;
}

.grade{
 display: table-row;   
}

.pixel{
 width: 40px;
 height: 40px;
 border: 1px solid #000;  
 background-color: white; 
 display: inline-flex;
}